---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=hl5BjCOXWIgp6GvbFVXs9x8G7DKsBOmL&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 21:24:20 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=hl5BjCOXWIgp6GvbFVXs9x8G7DKsBOmL&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=434945125"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=hl5BjCOXWIgp6GvbFVXs9x8G7DKsBOmL&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-353235399"}]}]}'
  recorded_at: Tue, 09 Aug 2022 21:24:20 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=6eea29db7329a7815813c9ef3095da56&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660080260,"sunrise":1660046789,"sunset":1660097068,"temp":306.61,"feels_like":304.82,"pressure":1015,"humidity":23,"dew_point":282.66,"uvi":7.55,"clouds":4,"visibility":10000,"wind_speed":1.34,"wind_deg":20,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660080300,"precipitation":0},{"dt":1660080360,"precipitation":0},{"dt":1660080420,"precipitation":0},{"dt":1660080480,"precipitation":0},{"dt":1660080540,"precipitation":0},{"dt":1660080600,"precipitation":0},{"dt":1660080660,"precipitation":0},{"dt":1660080720,"precipitation":0},{"dt":1660080780,"precipitation":0},{"dt":1660080840,"precipitation":0},{"dt":1660080900,"precipitation":0},{"dt":1660080960,"precipitation":0},{"dt":1660081020,"precipitation":0},{"dt":1660081080,"precipitation":0},{"dt":1660081140,"precipitati[...]
